# Rust / Cargo
/target/
**/*.rs.bk

# Build Artifacts & Binaries (Assembly, Linker, and Kernel outputs)
*.o
*.d
*.elf
*.bin
*.iso
*.img
*.out
*.a

# Editor & System Files
.vscode/
.idea/
*.swp
*~
.DS_Store
